<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1">
<div layout:fragment="content1">
   <div class="col-md-6 col-md-offset-3">
   <div class="panel panel-primary">
	 <div class="panel panel-heading">probleme d'authorisation</div>
	     <div class="panel panel-body">
               <div class="red">vous n'avez pas le droit de faire des operations</div>	      
	     </div>    
     </div>
   </div>
</div>
</html>